body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:435px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:435px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:437px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:450px;
  top:30px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:435px;
  top:110px;
  width:375px;
  height:70px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:443px;
  top:85px;
  width:196px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:446px;
  top:123px;
  width:41px;
  height:42px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u14 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:515px;
  top:120px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:515px;
  top:145px;
  width:132px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:773px;
  top:134px;
  width:22px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:570px;
  top:21px;
  width:101px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:610px;
  width:1500px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:1483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1500px;
  height:2px;
}
#u25 {
  position:absolute;
  left:10px;
  top:630px;
  width:320px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:930px;
  top:630px;
  width:250px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:9px;
  top:705px;
  width:311px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:9px;
  top:733px;
  width:321px;
  height:127px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:127px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u35 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u37 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:2px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:15px;
  top:30px;
  width:22px;
  height:22px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u41 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:137px;
  top:25px;
  width:101px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:130px;
  top:292px;
  width:107px;
  height:28px;
  font-size:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:850px;
  top:364px;
  width:300px;
  height:206px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:206px;
}
#u47 {
  position:absolute;
  left:2px;
  top:95px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:949px;
  top:380px;
  width:125px;
  height:25px;
  font-size:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:900px;
  top:429px;
  width:41px;
  height:42px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u51 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:968px;
  top:426px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:968px;
  top:451px;
  width:132px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:900px;
  top:505px;
  width:100px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:1020px;
  top:505px;
  width:100px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u58 {
  position:absolute;
  left:1560px;
  top:364px;
  width:300px;
  height:206px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:206px;
}
#u59 {
  position:absolute;
  left:2px;
  top:95px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1659px;
  top:380px;
  width:125px;
  height:25px;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1711px;
  top:505px;
  width:100px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u63 {
  position:absolute;
  left:1577px;
  top:443px;
  width:274px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:34px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:850px;
  top:200px;
  width:375px;
  height:70px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
#u66 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:861px;
  top:213px;
  width:41px;
  height:42px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u68 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:930px;
  top:235px;
  width:132px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:1188px;
  top:224px;
  width:22px;
  height:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:930px;
  top:208px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1120px;
  top:228px;
  width:53px;
  height:18px;
  color:#CCCCCC;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:850px;
  top:110px;
  width:375px;
  height:70px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
#u78 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:861px;
  top:123px;
  width:41px;
  height:42px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u80 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:930px;
  top:145px;
  width:132px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:1188px;
  top:134px;
  width:22px;
  height:22px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u84 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:930px;
  top:118px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1120px;
  top:138px;
  width:66px;
  height:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:850px;
  top:280px;
  width:375px;
  height:70px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
#u90 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:861px;
  top:293px;
  width:41px;
  height:42px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u92 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:930px;
  top:315px;
  width:132px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:1188px;
  top:304px;
  width:22px;
  height:22px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u96 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:930px;
  top:288px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1120px;
  top:308px;
  width:53px;
  height:18px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1250px;
  top:141px;
  width:300px;
  height:206px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:206px;
}
#u102 {
  position:absolute;
  left:2px;
  top:95px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1320px;
  top:157px;
  width:154px;
  height:25px;
  font-size:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1390px;
  top:280px;
  width:100px;
  height:25px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u106 {
  position:absolute;
  left:1311px;
  top:240px;
  width:169px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1321px;
  top:204px;
  width:141px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:1280px;
  top:280px;
  width:100px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u111 {
  position:absolute;
  left:1601px;
  top:505px;
  width:100px;
  height:25px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u112 {
  position:absolute;
  left:1890px;
  top:364px;
  width:300px;
  height:206px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:206px;
}
#u113 {
  position:absolute;
  left:2px;
  top:95px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1960px;
  top:380px;
  width:154px;
  height:25px;
  font-size:18px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1990px;
  top:505px;
  width:100px;
  height:25px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u117 {
  position:absolute;
  left:1907px;
  top:443px;
  width:274px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:34px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:9px;
  top:893px;
  width:321px;
  height:177px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:177px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:480px;
  top:213px;
  width:285px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:57px;
}
#u122 {
  position:absolute;
  left:2px;
  top:20px;
  width:281px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1180px;
  top:364px;
  width:300px;
  height:206px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:206px;
}
#u124 {
  position:absolute;
  left:2px;
  top:95px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1279px;
  top:380px;
  width:125px;
  height:25px;
  font-size:18px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1230px;
  top:505px;
  width:100px;
  height:25px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u128 {
  position:absolute;
  left:1350px;
  top:505px;
  width:100px;
  height:25px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u129 {
  position:absolute;
  left:1261px;
  top:429px;
  width:141px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:1246px;
  top:460px;
  width:169px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
