body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:465px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:15px;
  top:30px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:140px;
  top:26px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:50px;
  top:80px;
  width:80px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:130px;
  top:80px;
  width:80px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:210px;
  top:80px;
  width:80px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:138px;
  width:373px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u18 {
  position:absolute;
  left:334px;
  top:32px;
  width:27px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:28px;
  top:195px;
  width:10px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:11px;
  top:170px;
  width:350px;
  height:170px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
}
#u24 {
  position:absolute;
  left:2px;
  top:77px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:24px;
  top:180px;
  width:131px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:25px;
  top:211px;
  width:69px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:25px;
  top:238px;
  width:57px;
  height:23px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:281px;
  top:238px;
  width:62px;
  height:23px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:27px;
  top:303px;
  width:107px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:243px;
  top:303px;
  width:107px;
  height:15px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:9px;
  top:280px;
  width:352px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:335px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:352px;
  height:1px;
}
#u38 {
  position:absolute;
  left:156px;
  top:211px;
  width:57px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:156px;
  top:238px;
  width:51px;
  height:23px;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:281px;
  top:211px;
  width:57px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:249px;
  top:183px;
  width:106px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:11px;
  top:356px;
  width:350px;
  height:170px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
}
#u48 {
  position:absolute;
  left:2px;
  top:77px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:24px;
  top:366px;
  width:131px;
  height:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:25px;
  top:397px;
  width:69px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:25px;
  top:424px;
  width:57px;
  height:23px;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:281px;
  top:424px;
  width:62px;
  height:23px;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:27px;
  top:489px;
  width:107px;
  height:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:243px;
  top:489px;
  width:107px;
  height:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:9px;
  top:466px;
  width:352px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:335px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:352px;
  height:1px;
}
#u62 {
  position:absolute;
  left:156px;
  top:397px;
  width:57px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:156px;
  top:424px;
  width:51px;
  height:23px;
  font-size:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:281px;
  top:397px;
  width:57px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:249px;
  top:369px;
  width:106px;
  height:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:385px;
  top:26px;
  width:80px;
  height:90px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
}
#u71 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:399px;
  top:36px;
  width:53px;
  height:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:399px;
  top:78px;
  width:53px;
  height:18px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:385px;
  top:64px;
  width:80px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
