body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:15px;
  top:30px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:68px;
  top:210px;
  width:50px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:160px;
  top:210px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:258px;
  top:210px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:68px;
  top:290px;
  width:50px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:160px;
  top:290px;
  width:50px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:258px;
  top:290px;
  width:50px;
  height:50px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:68px;
  top:370px;
  width:50px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:160px;
  top:370px;
  width:50px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:258px;
  top:370px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:160px;
  top:482px;
  width:53px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:610px;
  width:1500px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:1483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1500px;
  height:2px;
}
#u31 {
  position:absolute;
  left:10px;
  top:630px;
  width:320px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:930px;
  top:630px;
  width:250px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:695px;
  width:302px;
  height:145px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:145px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:126px;
  top:22px;
  width:121px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:173px;
  top:105px;
  width:8px;
  height:10px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:188px;
  top:105px;
  width:8px;
  height:10px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:205px;
  top:105px;
  width:8px;
  height:10px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:173px;
  top:120px;
  width:8px;
  height:10px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:188px;
  top:120px;
  width:8px;
  height:10px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:205px;
  top:120px;
  width:8px;
  height:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:173px;
  top:135px;
  width:8px;
  height:10px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:188px;
  top:135px;
  width:8px;
  height:10px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:205px;
  top:135px;
  width:8px;
  height:10px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:138px;
  top:155px;
  width:105px;
  height:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:425px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u61 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:425px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u63 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:427px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:440px;
  top:30px;
  width:22px;
  height:22px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u67 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:493px;
  top:210px;
  width:50px;
  height:50px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:585px;
  top:210px;
  width:50px;
  height:50px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:683px;
  top:210px;
  width:50px;
  height:50px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u73 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:493px;
  top:290px;
  width:50px;
  height:50px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u75 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:585px;
  top:290px;
  width:50px;
  height:50px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u77 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:683px;
  top:290px;
  width:50px;
  height:50px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u79 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:493px;
  top:370px;
  width:50px;
  height:50px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:585px;
  top:370px;
  width:50px;
  height:50px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u83 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:683px;
  top:370px;
  width:50px;
  height:50px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u85 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:585px;
  top:482px;
  width:53px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:551px;
  top:22px;
  width:121px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:598px;
  top:105px;
  width:8px;
  height:10px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:613px;
  top:105px;
  width:8px;
  height:10px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:630px;
  top:105px;
  width:8px;
  height:10px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:598px;
  top:120px;
  width:8px;
  height:10px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:613px;
  top:120px;
  width:8px;
  height:10px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u99 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:630px;
  top:120px;
  width:8px;
  height:10px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:598px;
  top:135px;
  width:8px;
  height:10px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:613px;
  top:135px;
  width:8px;
  height:10px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:630px;
  top:135px;
  width:8px;
  height:10px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:530px;
  top:155px;
  width:190px;
  height:18px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:18px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:845px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u112 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:845px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u114 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:847px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:860px;
  top:30px;
  width:22px;
  height:22px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u118 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:913px;
  top:210px;
  width:50px;
  height:50px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u120 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1005px;
  top:210px;
  width:50px;
  height:50px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u122 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1103px;
  top:210px;
  width:50px;
  height:50px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u124 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:913px;
  top:290px;
  width:50px;
  height:50px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u126 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1005px;
  top:290px;
  width:50px;
  height:50px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u128 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1103px;
  top:290px;
  width:50px;
  height:50px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u130 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:913px;
  top:370px;
  width:50px;
  height:50px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u132 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1005px;
  top:370px;
  width:50px;
  height:50px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u134 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1103px;
  top:370px;
  width:50px;
  height:50px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u136 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1005px;
  top:482px;
  width:53px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:971px;
  top:22px;
  width:121px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:1018px;
  top:105px;
  width:8px;
  height:10px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u142 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1033px;
  top:105px;
  width:8px;
  height:10px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u144 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1050px;
  top:105px;
  width:8px;
  height:10px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u146 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1018px;
  top:120px;
  width:8px;
  height:10px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u148 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:1033px;
  top:120px;
  width:8px;
  height:10px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u150 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:1050px;
  top:120px;
  width:8px;
  height:10px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u152 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1018px;
  top:135px;
  width:8px;
  height:10px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u154 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:1033px;
  top:135px;
  width:8px;
  height:10px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u156 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:1050px;
  top:135px;
  width:8px;
  height:10px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u158 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:984px;
  top:155px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:327px;
  top:32px;
  width:27px;
  height:18px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:750px;
  top:32px;
  width:27px;
  height:18px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:1180px;
  top:27px;
  width:27px;
  height:18px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
