body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:54px;
  width:218px;
  height:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:43px;
  top:100px;
  width:967px;
  height:480px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:480px;
}
#u3 {
  position:absolute;
  left:2px;
  top:232px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:120px;
  width:53px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:143px;
  top:120px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:387px;
  top:120px;
  width:40px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:450px;
  top:120px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:80px;
  top:160px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:143px;
  top:160px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:387px;
  top:160px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:359px;
  top:161px;
  width:14px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:70px;
  top:245px;
  width:865px;
  height:179px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:69px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:230px;
  top:0px;
  width:127px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:357px;
  top:0px;
  width:117px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:474px;
  top:0px;
  width:234px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:230px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:708px;
  top:0px;
  width:152px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:30px;
  width:69px;
  height:76px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:76px;
}
#u30 {
  position:absolute;
  left:2px;
  top:30px;
  width:65px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:69px;
  top:30px;
  width:161px;
  height:76px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:76px;
}
#u32 {
  position:absolute;
  left:2px;
  top:30px;
  width:157px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:230px;
  top:30px;
  width:127px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:76px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:357px;
  top:30px;
  width:117px;
  height:76px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:76px;
}
#u36 {
  position:absolute;
  left:2px;
  top:29px;
  width:113px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:474px;
  top:30px;
  width:234px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:76px;
}
#u38 {
  position:absolute;
  left:2px;
  top:29px;
  width:230px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:708px;
  top:30px;
  width:152px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:76px;
}
#u40 {
  position:absolute;
  left:2px;
  top:29px;
  width:148px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:106px;
  width:69px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:69px;
  top:106px;
  width:161px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:157px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:230px;
  top:106px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:357px;
  top:106px;
  width:117px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:474px;
  top:106px;
  width:234px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:230px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:708px;
  top:106px;
  width:152px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:136px;
  width:69px;
  height:38px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:69px;
  top:136px;
  width:161px;
  height:38px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
}
#u56 {
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:230px;
  top:136px;
  width:127px;
  height:38px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
}
#u58 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:357px;
  top:136px;
  width:117px;
  height:38px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:38px;
}
#u60 {
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:474px;
  top:136px;
  width:234px;
  height:38px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:38px;
}
#u62 {
  position:absolute;
  left:2px;
  top:11px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:708px;
  top:136px;
  width:152px;
  height:38px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u64 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:570px;
  top:385px;
  width:8px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:70px;
  top:530px;
  width:167px;
  height:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:578px;
  top:527px;
  width:100px;
  height:20px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:446px;
  top:525px;
  width:38px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71 {
  position:absolute;
  left:400px;
  top:529px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:491px;
  top:528px;
  width:14px;
  height:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:515px;
  top:526px;
  width:53px;
  height:20px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u77 {
  position:absolute;
  left:10px;
  top:620px;
  width:1500px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:1483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1500px;
  height:2px;
}
#u78 {
  position:absolute;
  left:20px;
  top:640px;
  width:320px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:940px;
  top:640px;
  width:250px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:18px;
  top:710px;
  width:543px;
  height:126px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:126px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:348px;
  top:525px;
  width:21px;
  height:25px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u85 {
  position:absolute;
  left:285px;
  top:529px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:376px;
  top:528px;
  width:14px;
  height:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:80px;
  top:195px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:190px;
  top:195px;
  width:200px;
  height:25px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u92 {
  position:absolute;
  left:690px;
  top:120px;
  width:100px;
  height:25px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u93 {
  position:absolute;
  left:1050px;
  top:195px;
  width:450px;
  height:275px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:275px;
}
#u94 {
  position:absolute;
  left:2px;
  top:130px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1078px;
  top:215px;
  width:264px;
  height:33px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:33px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:1078px;
  top:243px;
  width:153px;
  height:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1078px;
  top:282px;
  width:372px;
  height:138px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:138px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:368px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1480px;
  top:208px;
  width:10px;
  height:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u102 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:630px;
  top:165px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:696px;
  top:160px;
  width:200px;
  height:22px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u105_input:disabled {
  color:grayText;
}
