body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:54px;
  width:322px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:80px;
  top:120px;
  width:53px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:143px;
  top:120px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:387px;
  top:120px;
  width:40px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:450px;
  top:120px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:80px;
  top:160px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:143px;
  top:160px;
  width:200px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:387px;
  top:160px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:359px;
  top:161px;
  width:14px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:70px;
  top:430px;
  width:765px;
  height:135px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:63px;
  top:0px;
  width:146px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:209px;
  top:0px;
  width:115px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:324px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:430px;
  top:0px;
  width:191px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:621px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:30px;
  width:63px;
  height:32px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:63px;
  top:30px;
  width:146px;
  height:32px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:209px;
  top:30px;
  width:115px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:324px;
  top:30px;
  width:106px;
  height:32px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:430px;
  top:30px;
  width:191px;
  height:32px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:621px;
  top:30px;
  width:139px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:62px;
  width:63px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:63px;
  top:62px;
  width:146px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:209px;
  top:62px;
  width:115px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:324px;
  top:62px;
  width:106px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:430px;
  top:62px;
  width:191px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:621px;
  top:62px;
  width:139px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:92px;
  width:63px;
  height:38px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:63px;
  top:92px;
  width:146px;
  height:38px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:209px;
  top:92px;
  width:115px;
  height:38px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u56 {
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:324px;
  top:92px;
  width:106px;
  height:38px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u58 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:430px;
  top:92px;
  width:191px;
  height:38px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:38px;
}
#u60 {
  position:absolute;
  left:2px;
  top:11px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:621px;
  top:92px;
  width:139px;
  height:38px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
}
#u62 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:570px;
  top:385px;
  width:8px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:70px;
  top:580px;
  width:167px;
  height:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:578px;
  top:577px;
  width:100px;
  height:20px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:446px;
  top:575px;
  width:38px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:400px;
  top:579px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:491px;
  top:578px;
  width:14px;
  height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:515px;
  top:576px;
  width:53px;
  height:20px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u75 {
  position:absolute;
  left:10px;
  top:620px;
  width:1500px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:1483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1500px;
  height:2px;
}
#u76 {
  position:absolute;
  left:20px;
  top:640px;
  width:320px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:940px;
  top:640px;
  width:250px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:18px;
  top:710px;
  width:454px;
  height:123px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:123px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:348px;
  top:575px;
  width:21px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:285px;
  top:579px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:376px;
  top:578px;
  width:14px;
  height:18px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:630px;
  top:165px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:800px;
  top:120px;
  width:100px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u90 {
  position:absolute;
  left:690px;
  top:120px;
  width:100px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u91 {
  position:absolute;
  left:696px;
  top:160px;
  width:200px;
  height:22px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u91_input:disabled {
  color:grayText;
}
#u92 {
  position:absolute;
  left:750px;
  top:470px;
  width:100px;
  height:16px;
}
#u93 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u94 {
  position:absolute;
  left:750px;
  top:502px;
  width:100px;
  height:16px;
}
#u95 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u96 {
  position:absolute;
  left:670px;
  top:390px;
  width:100px;
  height:30px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u97 {
  position:absolute;
  left:800px;
  top:390px;
  width:100px;
  height:30px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u98 {
  position:absolute;
  left:80px;
  top:248px;
  width:816px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:122px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:812px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:81px;
  top:200px;
  width:560px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:33px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:556px;
  word-wrap:break-word;
}
