body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:54px;
  width:347px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:41px;
  top:100px;
  width:809px;
  height:480px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:480px;
}
#u3 {
  position:absolute;
  left:2px;
  top:232px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:120px;
  width:53px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:143px;
  top:120px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:387px;
  top:120px;
  width:40px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:450px;
  top:120px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:80px;
  top:160px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:143px;
  top:160px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:387px;
  top:160px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:359px;
  top:161px;
  width:14px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:70px;
  top:240px;
  width:615px;
  height:125px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:66px;
  top:0px;
  width:141px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:207px;
  top:0px;
  width:116px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:323px;
  top:0px;
  width:123px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:446px;
  top:0px;
  width:164px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:30px;
  width:66px;
  height:32px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:66px;
  top:30px;
  width:141px;
  height:32px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:207px;
  top:30px;
  width:116px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:323px;
  top:30px;
  width:123px;
  height:32px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:446px;
  top:30px;
  width:164px;
  height:32px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:62px;
  width:66px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:66px;
  top:62px;
  width:141px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:207px;
  top:62px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:323px;
  top:62px;
  width:123px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:446px;
  top:62px;
  width:164px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:92px;
  width:66px;
  height:28px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:66px;
  top:92px;
  width:141px;
  height:28px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:207px;
  top:92px;
  width:116px;
  height:28px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:323px;
  top:92px;
  width:123px;
  height:28px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:446px;
  top:92px;
  width:164px;
  height:28px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:570px;
  top:385px;
  width:8px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:70px;
  top:383px;
  width:167px;
  height:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:578px;
  top:380px;
  width:100px;
  height:20px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:446px;
  top:378px;
  width:38px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  position:absolute;
  left:400px;
  top:382px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:491px;
  top:381px;
  width:14px;
  height:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:515px;
  top:379px;
  width:53px;
  height:20px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:10px;
  top:620px;
  width:1500px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:1483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1500px;
  height:2px;
}
#u70 {
  position:absolute;
  left:20px;
  top:640px;
  width:320px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:940px;
  top:640px;
  width:250px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:58px;
  top:715px;
  width:413px;
  height:90px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:90px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:348px;
  top:378px;
  width:21px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:285px;
  top:382px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:376px;
  top:381px;
  width:14px;
  height:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:690px;
  top:120px;
  width:100px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
