body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:1190px;
  width:1500px;
  height:10px;
}
#u1_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_end {
  position:absolute;
  left:1483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1500px;
  height:2px;
}
#u2 {
  position:absolute;
  left:10px;
  top:1210px;
  width:320px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:930px;
  top:1210px;
  width:250px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:28px;
  top:1310px;
  width:552px;
  height:120px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:120px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:28px;
  top:1460px;
  width:694px;
  height:40px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:40px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:28px;
  top:1540px;
  width:854px;
  height:40px;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:28px;
  top:1620px;
  width:1042px;
  height:170px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:170px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:65px;
  top:1780px;
  width:120px;
  height:120px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u15 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:93px;
  top:1808px;
  width:65px;
  height:84px;
  font-size:20px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:84px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:260px;
  top:1780px;
  width:120px;
  height:120px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u19 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:284px;
  top:1800px;
  width:70px;
  height:74px;
  font-size:20px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:74px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:463px;
  top:1780px;
  width:120px;
  height:120px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u23 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:480px;
  top:1822px;
  width:92px;
  height:56px;
  font-size:20px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:56px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:660px;
  top:1776px;
  width:120px;
  height:120px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:703px;
  top:1822px;
  width:41px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:840px;
  top:1780px;
  width:120px;
  height:120px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u31 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:874px;
  top:1826px;
  width:61px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:640px;
  height:1035px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1035px;
}
#u35 {
  position:absolute;
  left:2px;
  top:510px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:2px;
  top:1025px;
  width:640px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u37 {
  position:absolute;
  left:11px;
  top:8px;
  width:617px;
  height:19px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:19px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:613px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:212px;
  top:62px;
  width:76px;
  height:46px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:86px;
  height:56px;
}
#u40 {
  position:absolute;
  left:0px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:128px;
  width:640px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u42 {
  position:absolute;
  left:2px;
  top:202px;
  width:642px;
  height:839px;
  overflow:hidden;
}
#u42_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:839px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:35px;
  top:0px;
  width:381px;
  height:58px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:58px;
}
#u44 {
  position:absolute;
  left:0px;
  top:10px;
  width:381px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:33px;
  top:78px;
  width:164px;
  height:55px;
  font-size:48px;
  color:#FF0000;
}
#u45_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:174px;
  height:65px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:33px;
  top:133px;
  width:133px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u48 {
  position:absolute;
  left:0px;
  top:7px;
  width:133px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:286px;
  top:133px;
  width:45px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u50 {
  position:absolute;
  left:0px;
  top:7px;
  width:45px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:274px;
  top:87px;
  width:62px;
  height:37px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:72px;
  height:47px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:0px;
  top:194px;
  width:640px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u54 {
  position:absolute;
  left:34px;
  top:214px;
  width:381px;
  height:58px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:58px;
}
#u55 {
  position:absolute;
  left:0px;
  top:10px;
  width:381px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:32px;
  top:292px;
  width:164px;
  height:55px;
  font-size:48px;
  color:#FF0000;
}
#u56_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:174px;
  height:65px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:32px;
  top:347px;
  width:133px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u59 {
  position:absolute;
  left:0px;
  top:7px;
  width:133px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:284px;
  top:347px;
  width:45px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u61 {
  position:absolute;
  left:0px;
  top:7px;
  width:45px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:272px;
  top:301px;
  width:62px;
  height:37px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:72px;
  height:47px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:2px;
  top:408px;
  width:640px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u65 {
  position:absolute;
  left:32px;
  top:428px;
  width:381px;
  height:58px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:58px;
}
#u66 {
  position:absolute;
  left:0px;
  top:10px;
  width:381px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:30px;
  top:506px;
  width:164px;
  height:55px;
  font-size:48px;
  color:#FF0000;
}
#u67_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:174px;
  height:65px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:30px;
  top:561px;
  width:133px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u70 {
  position:absolute;
  left:0px;
  top:7px;
  width:133px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:282px;
  top:561px;
  width:45px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u72 {
  position:absolute;
  left:0px;
  top:7px;
  width:45px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:270px;
  top:515px;
  width:62px;
  height:37px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:72px;
  height:47px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:0px;
  top:622px;
  width:640px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u76 {
  position:absolute;
  left:462px;
  top:279px;
  width:120px;
  height:120px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u77 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:490px;
  top:307px;
  width:65px;
  height:84px;
  font-size:20px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:84px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:466px;
  top:59px;
  width:120px;
  height:120px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u81 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:484px;
  top:107px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:462px;
  top:492px;
  width:120px;
  height:120px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u85 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:491px;
  top:542px;
  width:61px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:32px;
  top:632px;
  width:381px;
  height:58px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:58px;
}
#u89 {
  position:absolute;
  left:0px;
  top:10px;
  width:381px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:30px;
  top:710px;
  width:164px;
  height:55px;
  font-size:48px;
  color:#FF0000;
}
#u90_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:174px;
  height:65px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:30px;
  top:765px;
  width:133px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u93 {
  position:absolute;
  left:0px;
  top:7px;
  width:133px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:282px;
  top:765px;
  width:45px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u95 {
  position:absolute;
  left:0px;
  top:7px;
  width:45px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:270px;
  top:719px;
  width:62px;
  height:37px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:72px;
  height:47px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:0px;
  top:826px;
  width:640px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u99 {
  position:absolute;
  left:462px;
  top:696px;
  width:120px;
  height:120px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u100 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:491px;
  top:746px;
  width:61px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:32px;
  top:836px;
  width:381px;
  height:58px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:58px;
}
#u104 {
  position:absolute;
  left:0px;
  top:10px;
  width:381px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:30px;
  top:914px;
  width:164px;
  height:55px;
  font-size:48px;
  color:#FF0000;
}
#u105_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:174px;
  height:65px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:30px;
  top:969px;
  width:133px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u108 {
  position:absolute;
  left:0px;
  top:7px;
  width:133px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:282px;
  top:969px;
  width:45px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u110 {
  position:absolute;
  left:0px;
  top:7px;
  width:45px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:270px;
  top:923px;
  width:62px;
  height:37px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:72px;
  height:47px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:0px;
  top:1030px;
  width:640px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u114 {
  position:absolute;
  left:462px;
  top:900px;
  width:120px;
  height:120px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u115 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:492px;
  top:950px;
  width:61px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:2px;
  top:1032px;
  width:640px;
  height:90px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u120 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:75px;
  top:1042px;
  width:50px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u122 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:85px;
  top:1092px;
  width:33px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u123_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:43px;
  height:31px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:300px;
  top:1042px;
  width:50px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u126 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:309px;
  top:1092px;
  width:33px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u127_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:43px;
  height:31px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:510px;
  top:1042px;
  width:50px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u130 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:519px;
  top:1092px;
  width:33px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u131_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:43px;
  height:31px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:288px;
  top:62px;
  width:76px;
  height:46px;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:86px;
  height:56px;
}
#u134 {
  position:absolute;
  left:0px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:364px;
  top:62px;
  width:76px;
  height:46px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:86px;
  height:56px;
}
#u136 {
  position:absolute;
  left:0px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:306px;
  top:148px;
  width:40px;
  height:40px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u138 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
