body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:15px;
  top:30px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:110px;
  top:283px;
  width:161px;
  height:45px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:10px;
  top:20px;
  width:60px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:415px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u15 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:415px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u17 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:417px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:430px;
  top:30px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:510px;
  top:283px;
  width:225px;
  height:90px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:90px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:425px;
  top:20px;
  width:60px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:825px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u28 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:825px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u30 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:827px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:840px;
  top:30px;
  width:22px;
  height:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u34 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:892px;
  top:340px;
  width:225px;
  height:45px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:45px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:835px;
  top:20px;
  width:60px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:946px;
  top:475px;
  width:150px;
  height:45px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
