body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:373px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:15px;
  top:30px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:28px;
  width:22px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:140px;
  top:26px;
  width:101px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:50px;
  top:80px;
  width:80px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:130px;
  top:80px;
  width:80px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:210px;
  top:80px;
  width:80px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:138px;
  width:373px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u20 {
  position:absolute;
  left:50px;
  top:158px;
  width:66px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:130px;
  top:158px;
  width:100px;
  height:18px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:210px;
  top:158px;
  width:100px;
  height:18px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:28px;
  top:195px;
  width:10px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:12px;
  top:186px;
  width:350px;
  height:170px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
}
#u30 {
  position:absolute;
  left:2px;
  top:77px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:25px;
  top:196px;
  width:100px;
  height:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:26px;
  top:227px;
  width:69px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:26px;
  top:254px;
  width:57px;
  height:23px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:282px;
  top:254px;
  width:62px;
  height:23px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:28px;
  top:319px;
  width:107px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:244px;
  top:319px;
  width:107px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:10px;
  top:296px;
  width:352px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:335px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:352px;
  height:1px;
}
#u44 {
  position:absolute;
  left:157px;
  top:227px;
  width:57px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:157px;
  top:254px;
  width:51px;
  height:23px;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:282px;
  top:227px;
  width:57px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:244px;
  top:196px;
  width:108px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:13px;
  top:368px;
  width:350px;
  height:170px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
}
#u54 {
  position:absolute;
  left:2px;
  top:77px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:26px;
  top:378px;
  width:100px;
  height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:27px;
  top:409px;
  width:69px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:27px;
  top:436px;
  width:57px;
  height:23px;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:283px;
  top:436px;
  width:62px;
  height:23px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:29px;
  top:501px;
  width:107px;
  height:15px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:245px;
  top:501px;
  width:107px;
  height:15px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:11px;
  top:478px;
  width:352px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:335px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:352px;
  height:1px;
}
#u68 {
  position:absolute;
  left:158px;
  top:409px;
  width:57px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:158px;
  top:436px;
  width:51px;
  height:23px;
  font-size:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:283px;
  top:409px;
  width:57px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:245px;
  top:378px;
  width:108px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
